@import 'colors';

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: $login-background;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2,h6 {
    margin-bottom: 20px;
}

form {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding: 16px;
    background-color: $text-color;
    border-radius: 10px;
    box-shadow: 0 0 10px $login-form;
}

h1 {
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    display: inline-block;
    border: 1px solid $input-form-border;
    border-radius: 4px;
    box-sizing: border-box;
}

#registration {
    color: $form-background-text;
    text-decoration: none;
}

button {
    background-color: $buttons;
    color: $form-background-text;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button {
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: $button-hover;
}
