@import 'colors';

// body {
//     margin: 0;
//     padding: 0;
//     font-family: Arial, sans-serif;
//     background-color: $login-background;
// }

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginH6 {
    margin-top: 15px;
}

.link-style {
    text-decoration: underline;
    color: $ref;
    font-size: 0.7rem;
    padding: 0;
}

#loginForm {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding: 16px;
    background-color: $text-color;
    border-radius: 10px;
    box-shadow: 0 0 10px $login-form;
}

#loginH1 {
    text-align: center;
}

.loginLabel {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loginInput {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    display: inline-block;
    border: 1px solid $input-form-border;
    border-radius: 4px;
    box-sizing: border-box;
}

// #registration {
//     color: $form-background-text;
//     text-decoration: none;
// }

.button-style {
    background-color: $buttons;
    color: $form-background-text;
    padding: 10px 20px;
    width: 75px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-style {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.button-style:hover {
    background-color: $button-hover;
}
